* {
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
}

header img {
  width: 80px;

  float: left;
}

nav {
  clear: both;
}

nav ul {
  margin-top: 8%;
}

section {
  margin-top: 3%;
}

footer {
  margin-top: 3%;
  text-align: center;
}

div {
  width: 70vw;
  margin: auto;
}

.content {
  margin-bottom: 5%;
  margin-top: 3%;
}

h1 {
  color: rgb(255, 102, 0);
  position: relative;
  top: 0px;
  margin-left: 7%;
}

h2 {
  margin-top: 4%;
}

img {
  margin: 0;
}

#apel {
  color: red;
  margin-bottom: 20px;
}

ol {
  margin-bottom: 4%;
}

#j {
  color: darkviolet;
  margin-bottom: 20px;
}

p {
  margin-bottom: 4%;
}

.h {
  font-size: 30px;
}

.w {
  margin-bottom: 4%;
}

.b {
  font-style: italic;
}

a {
  text-decoration: none;
}

ul {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 102, 0);
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  color: white;
  background-color: rgb(255, 102, 0);
  display: inline-block;
  border: 1px black;
  padding: 1rem;
  position: relative;
  text-decoration: none;
}

ul li a {
  color: #fff;
}

ul li:hover {
  background: red;
  cursor: pointer;
}

ul li ul {
  background: orange;
  visibility: hidden;
  position: absolute;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  body {
    background: darksalmon;
  }
}
